.mas-proyectos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-projects {
  display: block;
  width: 240px;
  height: 240px;
  object-fit: contain;
  border-radius: 20px;
}

.carousel-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  min-height: 270px;
  margin: 0 20px;
}

.flecha-otro-proyecto {
  height: 220px;
  width: 50px;
  border-radius: 5px;
  background-color: #d4d4d4;
  border: 1px solid #a5a5a5;
}

.flecha-otro-proyecto:hover {
  background-color: #b1b1b1;
  cursor: pointer;
  transition: all 0.2s ease;
}

.arrow-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 120px;
  height: 120px;
  padding: 0;
}
.arrow-btn svg {
  width: 100%;
  height: 100%;
  overflow: visible;
  filter: drop-shadow(3px 3px 0 #f5f5f5);
}
.arrow-btn path {
  fill: transparent;
  stroke: white;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.arrow-btn:hover path {
  transform: rotate(1deg) scale(1.03);
  transition: all 0.2s ease;
}

.arrows {
  background-color: transparent;
}

#descripcion {
  width: 300px;
}

figcaption {
  text-align: center;
}
