:root {
  --ancho-foto: 70px;
}

.buttonsContainer {
  display: flex;
}

#profile-photo {
  width: var(--ancho-foto);
  height: var(--ancho-foto);
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
}

.mail {
  background-color: #d4d4d4;
  border-radius: 50px;
  align-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #a5a5a5;
}
