:root {
  --ancho-foto: 70px;
}

.buttonsContainer {
  display: flex;
}

#profile-photo {
  width: var(--ancho-foto);
  height: var(--ancho-foto);
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
}
