.experiencia-header {
  display: flex;
}

#experiencia-img {
  margin-right: 10px;
}

.empleo {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 30px;
  padding-left: 20px;
}
.empleo::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background: #ffb300;
  border-radius: 999px;
  box-shadow:
    1px 0 #ffd54f,
    -1px 0 #f57f17;

  transform: rotate(-1.2deg);
}

.ver-mas-o-menos {
  font-weight: lighter;
}

.ver-mas-o-menos:hover {
  color: blue;
  cursor: pointer;
}

.contenido-empleo {
  margin: 0;
  padding: 0;
}

#contenido-empleo {
  margin-bottom: 10px;
}

#fecha-empleo {
  opacity: 80%;
}
