.about-header {
  display: flex;
}

#about-img {
  margin-right: 10px;
}

span {
  font-weight: bold;
}

#html {
  color: #e44d26;
}

#css {
  color: #1572b6;
}

#js {
  color: #f7df1e;
}

#vue {
  color: #41b883;
}

#react {
  color: #61dafb;
}

#angular {
  color: #dd0031;
}

.sobre-mi {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 100px;
  align-items: center;
}

#about-photo {
  position: relative;
  top: 50px;
  width: 60%;
  border-style: solid;
  border-color: #fbfbfb;
  border-top-width: 10px;
  border-right-width: 10px;
  border-left-width: 10px;
  border-bottom-width: 50px;
  transform: rotate(10deg);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

#drum-photo {
  position: relative;
  width: 60%;
  border-style: solid;
  border-color: #fbfbfb;
  border-top-width: 10px;
  border-right-width: 10px;
  border-left-width: 10px;
  border-bottom-width: 50px;
  transform: rotate(-15deg);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}
