.about-header {
  display: flex;
}

#about-img {
  margin-right: 10px;
}

span {
  font-weight: bold;
}

#html {
  color: #e44d26;
}

#css {
  color: #1572b6;
}

#js {
  color: #f7df1e;
}

#vue {
  color: #41b883;
}

#react {
  color: #61dafb;
}

#angular {
  color: #dd0031;
}

.sobre-mi {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 100px;
  align-items: center;
}

#about-photo {
  width: 100%;
  border-radius: 20px;
  /* PENDIENTE: hay que recortar la foto para que solo salga yo */
}
