.proyectos-header {
  display: flex;
}

#proyectos-img {
  margin-right: 10px;
}

img {
  border-radius: 20px;
}

#descripcion {
  width: 300px;
}

figcaption {
  text-align: center;
}

.espacio-proyectos {
  width: 100px;
  height: 100px;
  background-color: #d3d3d3;
}
