.proyectos-header {
  display: flex;
}

.proyectos-component {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.proyectos-img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.more-projects {
  border-radius: 20px;
}

#proyectos-icon {
  margin-right: 10px;
  color: #f5f5f5;
}

a {
  color: #000;
  text-decoration: none;
}

.espacio-proyectos {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  gap: 30px;
}

.proyecto-react {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 100%;
  gap: 30px;
  align-items: center;
}

.proyectos-html-p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.flecha-otro-proyecto {
  height: 220px;
  width: 50px;
  border-radius: 5px;
  background-color: #d4d4d4;
  border: 1px solid #a5a5a5;
}
.flecha-otro-proyecto:hover {
  background-color: #b1b1b1;
  cursor: pointer;
  transition: all 0.2s ease;
}

.arrows {
  background-color: transparent;
}

#descripcion {
  width: 300px;
}

figcaption {
  text-align: center;
}
